@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.kode-mono-sam {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body, html {
    @apply h-full kode-mono-sam;
}

.light body {
    @apply bg-none bg-white;
}

.dark body {
    @apply bg-none bg-black;
}

a {
    @apply hover:underline no-underline;
}
